[Desktop Entry]
Name=IceCC
Comment=The IceWM Control Center
Comment[pl]=Centrum Sterowania IceWM'a
Icon=icecc.png
Exec=icecc
Terminal=false
Type=Application
# vi: encoding=utf-8
